{{!-- index.hbs --}}
<div class="container d-flex flex-column align-items-center">
  <form action="/shorten" method="get" style="width: 600px" class="text-center">
    <input type="text" name="targetUrl" class="form-control" placeholder="Input URL here" required>
    <button type="submit" class="btn btn-outline-primary btn-lg my-5 px-5">Shorten</button>
  </form>
</div>