{{!-- result.hbs --}}
<div class="container d-flex flex-column align-items-center">
  <h2 class="fw-bold">Success! Please use this link:</h2>
  <a href="/{{shortURL}}" class="fs-2" id="shorturl">http://localhost:3000/{{shortURL}}</a>
  <div>
    <input type="button" onclick="copyToClipboard()" class="btn btn-primary btn-lg my-4" value="Copy URL">
    <a href="/" class="btn btn-secondary btn-lg my-4">Create another one</a>
  </div>
  <script>
    function copyToClipboard() {
      let copyText = document.getElementById("shorturl").textContent;
      navigator.clipboard.writeText(copyText).then(() => {
        alert("Copied to clipboard");
      });
    }
  </script>