{{!-- result.hbs --}}
<div class="container d-flex flex-column align-items-center">
  <h2 class="fw-bold">Success! Please use this link:</h2>
  <a href="{{this.shortURL}}" class="fs-2">{{this.shortURL}}</a>
  <div>
    <input type="button" data-clipboard-target="#shortenurl" class="btn btn-primary btn-lg my-4" value="Copy URL">
  </div>